@use "base";

.timeline {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.timeline-item {
  @extend %card;
  padding: 3rem 2rem;

  .period {
    display: inline-block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: $accent-light;
    border: $primary-color solid 0.2rem;
    border-radius: 100px;
    font-weight: 400;
  }
  span {
    padding-left: 1rem;
    font-size: 1.6rem;
    color: $accent-dark;
    font-weight: 300;
  }

  h3 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 300;
  }

  p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: $accent-dark;
  }
}

.award {
  justify-content: left;
}
